input{
    padding:5px;
    border-radius: 5px;
    margin:8px;

}
.add-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-container .btn{
    color: white;
    background-color: #1c8adb;
    padding: 10px 70px;
    border: none;
    border-radius: 15px;
    margin: 10px;
}
.add-title{
    font-size: 25px;
    color: #1c8adb;
}