.container{
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    margin-top: 5%;
    height: 400px;

}
.contact-container{
    height: max-content;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.avatar{
    background-color: white;
    border: 5px solid white;
    width: 150px;
    display: block;
    margin: auto;
    border-radius: 500px;
    height: 150px;}
.icon{
    cursor: pointer;
    width:40px;
    margin:5px;
}
.name-container{
    height: 50px;
    padding: 20px 10px 80px 10px;
    background-color: #1c8adb;
    color: white;
    font-family: monospace;
    font-size: 25px;

}
.info-container{margin-top: 120px;}